/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

/* --------------------RESET-----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $secondary;
    font-family: $font-principal;
   }
ul{
   list-style-type: none; 
}
a{
    text-decoration: none;
    font-family: $font-principal;
    color: $secondary;
}

img{
    width: 100%;
}

h1{
    grid-area: titulo;
    text-align: center;
    padding: $spacing-xsmall;
    text-decoration: none;
    color: $primary;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

h1:hover{
    color: $ocean;
}

h2{
    grid-area: slogan;
    color: $primary;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    text-align: center;
    position: relative;
    animation-name: slogan;
    animation-duration: 2s;
    
}
@keyframes slogan {
    0%   { top:-15px;}
    50%  { top:15px;}
    100% { top:0px;}
  }

h2:hover{
    color: $ocean;

}

h5 {
    grid-area: slogan;
    color: $primary;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    text-align: center;
    margin-top: 1rem; 
}
h5:hover{
    color: $ocean;

}
.gridPadre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "slogan slogan slogan"
    "contenido contenido contenido"
    "footer footer footer";
    justify-content: center;
    align-items: stretch;
    

}
