@media only screen and (max-width: 768px) {

    /*--------------TERAPIAS---------------*/
  .videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  
  .videos iframe {
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 10rem; }
  
  /*--------------FOOTER---------------*/
    .pie ul li a {
      font-size: 1.3rem;
      padding: 0.5rem; } }
  
  
  @media only screen and (max-width: 480px) {
    .gridPadre {
      display: grid;
      grid-template-areas: "titulo titulo"
   "slogan slogan"
   "contenido contenido"
   "footer footer";
      grid-template-rows: 150px 300px auto auto 50px;
      grid-template-columns: 50% 50%; }
    .gridPadrepro {
      display: grid;
      grid-template-areas: "titulo titulo"
   "slogan slogan"
   "pro    pro"
   "footer footer";
      grid-template-rows: 150px 300px auto auto;
      grid-template-columns: 50% 50%; }
  
    .profesionales{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .profesionales tr th{
      display: flex;
      flex-direction: column;
      align-items: center;
    justify-content: center;
    }
    .menu {
      flex-direction: column;
      align-items: center; }
    .menu a {
      font-size: 1.2rem;
      padding: 0.5rem; }
    .h2 {
      font-size: 1.5rem; }
    .section p a {
      font-size: 2rem; }
  
  
  /*--------------TERAPIAS---------------*/
    .videos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    
    .videos iframe {
      align-items: center;
      justify-content: center;
      width: 15rem;
      height: 7rem; }
    
    /*--------------FOOTER---------------*/
    .pie {
      flex-direction: column;
      align-items: center; }
    .pie ul li a {
      font-size: 1.5rem;
      padding: 0.5rem; }
      
       }
  
