/* colores */
$primary:#000000;
$secondary:#FFFFFF;
$alternative: #8b8b8b;
$negri:#8f8f8f;
$verdi:#7b95a1;
$roji:#6d5f5f;
$ocean:#87a5b3;

/* Espacios*/

$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 0.5rem;
$spacing-xxsmall: 0.3rem;


/* Font-family */

$font-principal:'Josefin Sans', sans-serif;

/* Font-size */

$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.3em;
$text-xsmall: 1em;
$text-xxsmall: 0.7em;



