.pie{
    @include flex(row, center, center);
    grid-area: footer;
    width: 100%;
    height: 3rem;
   

    & ul li{
        display: inline;
        

        & a{
            padding: $spacing-xsmall;
            font-size: $text-small;
            font-weight: 400;
            background-image: linear-gradient(125deg, rgb(129, 129, 129) 0,#585858 25%, #3d3d3d 50%, #202020 75%,#000000 100%);
           }
    
    }
    
}

