.informacion{
    @include flex (column,center, center);
    border: solid 1px rgb(0, 0, 0);
    border-width: 0.1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 50%;
    margin: 0px auto;
    padding: $spacing-small;

    & p{
        text-align: center;
        font-size: 1rem;
    
       }

    
}

